AMP/WCF/WcfService1/WebApplication4/Service References/ServiceReference1/test_webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sayHello">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sayHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sayHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloSoapIn">
    <wsdl:part name="parameters" element="tns:sayHello" />
  </wsdl:message>
  <wsdl:message name="sayHelloSoapOut">
    <wsdl:part name="parameters" element="tns:sayHelloResponse" />
  </wsdl:message>
  <wsdl:portType name="test_webserviceSoap">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHelloSoapIn" />
      <wsdl:output message="tns:sayHelloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="test_webserviceSoap" type="tns:test_webserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="http://tempuri.org/sayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="test_webserviceSoap12" type="tns:test_webserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sayHello">
      <soap12:operation soapAction="http://tempuri.org/sayHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="test_webservice">
    <wsdl:port name="test_webserviceSoap" binding="tns:test_webserviceSoap">
      <soap:address location="http://localhost/Test_webservice/test_webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="test_webserviceSoap12" binding="tns:test_webserviceSoap12">
      <soap12:address location="http://localhost/Test_webservice/test_webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>