AMP/SOAPMessagingOnly/SOAPMessagingOnly/Backup/SOAPMessagingOnly.WebServiceClient/Web References/CustomerProcessingWebReference/CustomerProcessing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.digitaldeposit.net/biztalk/samples" xmlns:s1="http://www.digitaldeposit.net/biztalk/samples/Customer" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://www.digitaldeposit.net/biztalk/samples/Product" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.digitaldeposit.net/biztalk/samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.digitaldeposit.net/biztalk/samples">
      <s:import namespace="http://www.digitaldeposit.net/biztalk/samples/Customer" />
      <s:import namespace="http://www.digitaldeposit.net/biztalk/samples/Product" />
      <s:element name="GetProductInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:CustomerInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:GetProductInfoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfoByAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:customer" />
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfoByAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:GetProductInfoByAccountNumberResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.digitaldeposit.net/biztalk/samples/Customer">
      <s:element name="CustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="customer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.digitaldeposit.net/biztalk/samples/Product">
      <s:element name="GetProductInfoResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfoByAccountNumberResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductInfo" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoByAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductInfoByAccountNumber" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoByAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductInfoByAccountNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerProcessingSoap">
    <wsdl:operation name="GetProductInfo">
      <wsdl:input message="tns:GetProductInfoSoapIn" />
      <wsdl:output message="tns:GetProductInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductInfoByAccountNumber">
      <wsdl:input message="tns:GetProductInfoByAccountNumberSoapIn" />
      <wsdl:output message="tns:GetProductInfoByAccountNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerProcessingSoap" type="tns:CustomerProcessingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductInfo">
      <soap:operation soapAction="http://www.digitaldeposit.net/biztalk/samples/GetProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfoByAccountNumber">
      <soap:operation soapAction="http://www.digitaldeposit.net/biztalk/samples/GetProductInfoByAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerProcessingSoap12" type="tns:CustomerProcessingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductInfo">
      <soap12:operation soapAction="http://www.digitaldeposit.net/biztalk/samples/GetProductInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfoByAccountNumber">
      <soap12:operation soapAction="http://www.digitaldeposit.net/biztalk/samples/GetProductInfoByAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerProcessing">
    <wsdl:port name="CustomerProcessingSoap" binding="tns:CustomerProcessingSoap">
      <soap:address location="http://localhost:11258/SOAPMessagingOnly.WebService/CustomerProcessing.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerProcessingSoap12" binding="tns:CustomerProcessingSoap12">
      <soap12:address location="http://localhost:11258/SOAPMessagingOnly.WebService/CustomerProcessing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>