AMP/Getorder_status/RRD.BT.Core.GetOrderStatus/RRD.BT.Core.GetOrderStatus/API_GetOrderStatusResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://externalschemas.rrd.com/digitalpcs/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FromIdentity"/>
              <xs:element type="xs:string" name="FromPassCode"/>
              <xs:element type="xs:dateTime" name="EnvelopeDate"/>
              <xs:element type="xs:int" name="EnvelopeNum"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Orders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Order">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrderHeader">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="OrderNum"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OrderLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OrderLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="LineItemNum"/>
                                <xs:element type="xs:byte" name="StatusCode"/>
                                <xs:element type="xs:string" name="StausDesc"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>