AMP/Getorder_status/RRD.BT.Core.GetOrderStatus/RRD.BT.Core.GetOrderStatus/usp_bts_OrdGetOrderStatusTableType.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TableType.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="TTOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OrderNum" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TTOrders" nillable="true" type="ns3:TTOrders" />
  <xs:complexType name="ArrayOfTTOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TTOrders" type="ns3:TTOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTTOrders" nillable="true" type="ns3:ArrayOfTTOrders" />
</xs:schema>