AMP/Getorder_status/RRD.BT.Core.GetOrderStatus/RRD.BT.Core.GetOrderStatus/usp_bts_OrdGetOrderStatusProcedure.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.datacontract.org/2004/07/System.Data" xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Procedures/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\usp_bts_OrdGetOrderStatusTableType.dbo.xsd" namespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" />
  <xs:import schemaLocation=".\usp_bts_OrdGetOrderStatusDataSetSchema.xsd" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Procedure.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="usp_bts_OrdGetOrderStatus">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">Procedure/dbo/usp_bts_OrdGetOrderStatus</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FromIdentity" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="FromPasscode" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="OrdersTVP" nillable="true" type="ns3:ArrayOfTTOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usp_bts_OrdGetOrderStatusResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">Procedure/dbo/usp_bts_OrdGetOrderStatus/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="usp_bts_OrdGetOrderStatusResult" nillable="true" type="ns4:ArrayOfDataSet" />
        <xs:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>